header {
  background-image: url("img/pattern.png");
  background-size: contain;
  background-color: #4ea0ff;
}
h1 {
  text-align: left;
}
main,
.title-header {
  width: 80%;
  margin: auto;
}
img {
  width: 48%;
  height: fit-content;
}
.title {
  margin: 0;
}
.image-description {
  font-size: 10px;
}

#text-first-photo {
  margin-top: 5px;
  margin-bottom: 0;
}
#text-second-photo {
  margin-top: 1px;
}
li {
  text-align: left;
}
.author {
  color: #28ace6;
  margin-top: 10px;
}

.underlined {
  background-color: yellow;
}

#written-by {
  margin-top: 0;
  margin-bottom: 0;
}

#written-when {
  margin-top: 0;
}

#main-title {
  margin-bottom: 1px;
}

#first-photo {
  width: 53%;
}

#second-photo {
  width: 40%;
}

ul {
  padding-left: 0;
}

/* table */
.first-item {
  width: 22%;
}
.second-item {
  width: 23%;
}
.third-item {
  width: 55%;
}

thead {
  text-align: left;
  color: white;
  background-color: #20a9e5;
}

#first-row,
#third-row {
  background-color: #b1e5f2;
}
table {
  border-collapse: collapse;
}
